/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.AdditionalFile.txt
*.txt
Assets/Car Prototype/PlayerStats.cs.meta
